@charset "UTF-8";
/*
#定义混合器  使用
@mixin borderRadius {
  border-radius: 5px;
  -webkit-border-radius；5px；
  -moz-border-radius:5px;
}

#通过@include来使用这个混合器
h1{
  font-size: 28px;color: #333;
  @include borderRadius;
}
*/
p {
  display: inline-block;
  margin: 0; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none;
    outline: none; }
  a:focus {
    text-decoration: none;
    outline: none; }

button {
  padding: 0;
  border: none;
  outline: none; }

.border-right {
  border-right: 1px solid #e1e5e7; }

.border-left {
  border-left: 1px solid #e1e5e7; }

.red-text {
  color: #f66f6f; }

.blue-text {
  color: #29bde0; }

.grey-text {
  color: #d9d9d9; }

.deepgrey-text {
  color: #9a9a9a; }

.white-text {
  color: #fff; }

.black-text {
  color: #787878; }

.deepblack-text {
  color: #464646; }

.orange-text {
  color: #fbb435; }

.yellow-text {
  color: #ffc865; }

.font-lg {
  font-size: 18px; }

.font-nm {
  font-size: 16px; }

.font-sm {
  font-size: 14px; }

.left {
  float: left; }

.right {
  float: right; }

.clearfloat {
  clear: both; }

.setmiddle {
  margin: 0 auto; }

.setcenter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  margin: 0;
  background-color: #f0f0f0; }

header {
  position: relative;
  line-height: 44.5px;
  text-align: center;
  color: #fff;
  background-color: #29bde0; }

.arrow_icon, .shutdown_icon {
  position: absolute;
  top: 50%; }

.arrow_icon {
  left: 15px;
  margin-top: -13px;
  width: 16px;
  height: 26px;
  background: url(../images/assignment/assignment-arrow.png);
  background-size: 100% 100%; }

.shutdown_icon {
  margin-top: -12px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url(../images/shutdown.png);
  background-size: 100% 100%; }

header {
  position: relative;
  line-height: 44.5px;
  align-items: center;
  color: #fff; }

.arrow_icon, .info_icon {
  position: absolute; }

.info_icon {
  top: 10px;
  right: 15px;
  width: 26px;
  height: 26px;
  background: url(../images/assignment/assignment-info.png);
  background-size: 100% 100%; }

.content {
  position: relative;
  margin: 8px 2% 0;
  width: 96%;
  box-sizing: border-box;
  color: #787878;
  background-color: #fff;
  overflow: hidden; }

.setNumber, .distribution {
  height: 225px;
  box-sizing: border-box; }

.distribution {
  padding: 65px 0;
  width: 20%;
  border-right: 1px solid #d9d9d9;
  text-align: center; }

.vertical {
  display: block; }

.setNumber {
  width: 80%; }

.displayNumber, .setting {
  width: 100%;
  box-sizing: border-box; }

.displayNumber {
  padding: 30px 0 20px;
  height: 195px;
  text-align: center;
  color: #a1a1a1; }
  .displayNumber div {
    display: inline-block;
    position: relative;
    width: 50%; }
    .displayNumber div:before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 7px;
      height: 7px;
      background-color: #29bde0; }
    .displayNumber div input {
      display: inline-block;
      margin: 0 6px;
      width: 20px;
      height: 12px;
      border: none;
      color: #a1a1a1;
      text-align: center; }

.nothing {
  display: inline-block;
  position: relative;
  width: 50%; }
  .nothing:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    width: 7px;
    height: 7px;
    background-color: #fbb435 !important; }

.setting {
  text-align: center;
  border-top: 1px solid #d9d9d9; }
  .setting p {
    position: relative;
    line-height: 30px;
    color: #29bde0; }
    .setting p:after {
      content: "";
      position: absolute;
      top: 8px;
      right: -20px;
      background-image: url(../images/assignment/assignment-pencil.png);
      background-size: 100% 100%;
      width: 14px;
      height: 14px; }

input {
  position: relative;
  font-size: 16px; }

.selection-number {
  padding: 10px 15px; }
  .selection-number input[type=button] {
    width: 18px;
    height: 18px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    background-color: #fff; }

.content-bottom {
  position: relative;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  align-items: center; }

input[type=range] {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  left: 10%;
  bottom: 4px;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px; }
  input[type=range]:before {
    content: '';
    width: 10px;
    height: 3px;
    background-color: blue; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  bottom: 5px;
  width: 30px;
  height: 18px;
  border: 1px solid #fab344;
  border-radius: 3px;
  background-color: #fff;
  background-image: url(../images/assignment/slider.png);
  background-size: 12px 10px;
  background-repeat: no-repeat;
  background-position: center; }

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
  background-color: #ffe6be; }

input[type=range]::-ms-fill-lower {
  /*进度条已填充的部分*/
  height: 22px;
  border-radius: 10px;
  background: linear-gradient(to right, #059CFA, white 100%, white); }

input[type=range]::-ms-fill-upper {
  /*进度条未填充的部分*/
  height: 22px;
  border-radius: 10px;
  background: #ffffff; }

.leftbtn, .rightbtn {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center; }

.leftbtn {
  left: 0;
  background-image: url(../images/assignment/decrease.png);
  background-size: 12px 4px; }

.rightbtn {
  right: 0;
  background-image: url(../images/assignment/increase.png);
  background-size: 12px 12px; }

form input {
  width: 90%;
  height: 30px;
  margin: 5px 5%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #d7d7d7; }

::-moz-placeholder {
  color: #d7d7d7; }

:-ms-input-placeholder {
  color: #d7d7d7; }

.number {
  display: inline-block;
  margin: 0 10px;
  width: 32px;
  height: 20px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  color: #fbb435;
  background-color: #d9d9d9; }

.footer_btn {
  width: 96%;
  height: 36px;
  margin: 8px 2%;
  padding: 0;
  border: none;
  color: #fff;
  background-color: #fab344; }
  .footer_btn:focus {
    background-color: #fac399; }

/*# sourceMappingURL=assignment.css.map */
