@charset "UTF-8";
/*
#定义混合器  使用
@mixin borderRadius {
  border-radius: 5px;
  -webkit-border-radius；5px；
  -moz-border-radius:5px;
}

#通过@include来使用这个混合器
h1{
  font-size: 28px;color: #333;
  @include borderRadius;
}
*/
p {
  display: inline-block;
  margin: 0; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none;
    outline: none; }
  a:focus {
    text-decoration: none;
    outline: none; }

button {
  padding: 0;
  border: none;
  outline: none; }

.border-right {
  border-right: 1px solid #e1e5e7; }

.border-left {
  border-left: 1px solid #e1e5e7; }

.red-text {
  color: #f66f6f; }

.blue-text {
  color: #29bde0; }

.grey-text {
  color: #d9d9d9; }

.deepgrey-text {
  color: #9a9a9a; }

.white-text {
  color: #fff; }

.black-text {
  color: #787878; }

.deepblack-text {
  color: #464646; }

.orange-text {
  color: #fbb435; }

.yellow-text {
  color: #ffc865; }

.font-lg {
  font-size: 18px; }

.font-nm {
  font-size: 16px; }

.font-sm {
  font-size: 14px; }

.left {
  float: left; }

.right {
  float: right; }

.clearfloat {
  clear: both; }

.setmiddle {
  margin: 0 auto; }

.setcenter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  margin: 0;
  background-color: #f0f0f0; }

header {
  position: relative;
  line-height: 44.5px;
  text-align: center;
  color: #fff;
  background-color: #29bde0; }

.arrow_icon, .shutdown_icon {
  position: absolute;
  top: 50%; }

.arrow_icon {
  left: 15px;
  margin-top: -13px;
  width: 16px;
  height: 26px;
  background: url(../images/assignment/assignment-arrow.png);
  background-size: 100% 100%; }

.shutdown_icon {
  margin-top: -12px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url(../images/shutdown.png);
  background-size: 100% 100%; }

body {
  background-color: #29bde0; }

header {
  position: relative;
  border-bottom: 1px solid #74d4eb;
  line-height: 44.5px;
  align-items: center;
  color: #fff; }

.arrow_icon, .shutdown_icon {
  position: absolute;
  top: 50%; }

.arrow_icon {
  left: 15px;
  margin-top: -13px;
  width: 16px;
  height: 26px;
  background: url(../images/assignment/assignment-arrow.png);
  background-size: 100% 100%; }

.shutdown_icon {
  margin-top: -12px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url(../images/shutdown.png);
  background-size: 100% 100%; }

main {
  margin: 18px 6% 90px;
  width: 88%;
  text-align: center;
  overflow: hidden; }
  main .choise-person {
    float: left;
    margin: 10px 4.1666666667%;
    width: 25%; }
  main .number {
    width: 100%;
    padding: 25% 0;
    border-top: 2.5px solid #fff;
    border-right: 2.5px solid #fff;
    border-left: 2.5px solid #fff;
	border-radius: 6px 6px 0 0;
    background: #f5c97b;
    box-sizing: border-box;
    color: #565656; }
  main .name {
    width: 100%;
    border-right: 2.5px solid #fff;
    border-left: 2.5px solid #fff;
    border-bottom: 2.5px solid #fff;
	border-radius: 0 0 6px 6px;
    box-sizing: border-box;
    background: #83b09a;
    color: #fff;
    font-size: 12px; }
  main .dead {
    background-color: #83b09a !important; }

footer {
  position: fixed;
  bottom: 0;
  width: 88%;
  height: 89px;
  margin-left: 6%;
  border-top: 1px solid #fff;
  background-color: #29bde0; }

#footer_btn {
  position: absolute;
  top: 20px;
  left: 12%;
  width: 76%;
  height: 46px;
  padding: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #fab344; }
  #footer_btn:focus {
    background-color: #fac399; }

/*# sourceMappingURL=judge.css.map */
